{% extends 'main.html' %}
{% load static %}

    {% block css %}

    <link rel="stylesheet" href="{% static 'home.css' %}">

    {% endblock %}

    {% block content %}

        <div class="admin">
        <div class="left"><h1> Car Rent </h1></div>
        <div class="right">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'admin' %}">Admin Dashboard</a>
            <a href="{% url 'aval' %}">Available Cars</a>
            <a href="{% url 'search' %}">Search</a>
        </div>
    </div>

    <div class="main">

        {% for i in data %}
        <div class="sub">
            <img src="{{i.image}}" alt="">
            <h1>Name:{{i.name}}</h1>
            <h2>Brand:{{i.brand}}</h2>
            <h2>Fuel Type:{{i.fuel_type}}</h2>
            <h2>Price Per Day :{{i.price_per_day}}</h2>
            <h2>Total Seats :{{i.seats}}</h2>
            <h2>Type :{{i.transmission}}</h2>
                {% if i.availability == True%}
                    <h2>Availability Status :Available</h2>
                {% else %}
                    <h2>Availability Status :Not-Available</h2>
                {% endif %}
            
            {% if i.availability == True%}
                    <a href="{% url 'book' i.id %}">Book Now</a>
            {% endif %}
        </div>

        {% endfor %}
    </div>

    {% endblock %}

